version: '3.9'

services:
  web:
    depends_on:
      - postgress_db
    build:
      context: .
      dockerfile: Dockerfile
    image: django-k8s
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: sh -c "chmod +x /app/migrate.sh && sh /app/migrate.sh && /app/entrypoint.sh"
    networks:
      - my-network
  postgress_db:
    image: postgres:15 # Or your preferred version
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgress_data:/var/lib/postgresql/data/
    networks:
      - my-network

volumes:
  postgress_data:

networks:
  my-network: