version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: django-k8s
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - my-network

networks:
  my-network:
