asgiref==3.8.1
boto3==1.36.22
botocore==1.36.22
certifi==2025.1.31
charset-normalizer==3.4.1
Django==3.2.25
django-dotenv==1.4.2
django-storages==1.14.5
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
packaging==24.2
psycopg2-binary==2.9.10 # dont forget -binary because of docker 
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
s3transfer==0.11.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
